*{
	padding: 0px;
	margin: 0px;
}
body {
    font-family: Arial,Helvetica,sans-serif;
    line-height: 1.25;
    background-color: #ffffff;
}
li{
	list-style-type: none;
}
li a{
	text-decoration: none;
}
sup{
	vertical-align: baseline;
	position: relative;
	top: -0.5em;
}

.header{
	width: 100%;
	height: 33px;
	margin-top: 0px;
}
.header .content1{
	width: 532px;
	height: 28px;
	margin: 0 auto;
	margin-top: 2px;
	display: flex;
	flex-direction: row;
/*	align-items: baseline;*/
}	
.header .content1 li{
	list-style-type: none;
	padding-left: 15px;
	padding-right: 15px;
	line-height: 28px;
	font-size: 13px;
	color: #444242;
}

.header li a{
	text-decoration: none;
	color: #414042;
	padding: 0 auto;
}
.menu {
	width: 100%;
	height: 90px;
/*	border: 1px solid #333;*/
	background-image: url(../img/navbg.png);
	display: flex;
	flex-direction: row;
	position: absolute;
	z-index: 1;
}
.menu .logo{
	width: 106px;
	height: 106px;
	margin-top: -20px;
	margin-left: -20px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,<%3Fxml%20version%3D"1.0"%20encoding%3D"utf-8"%3F>%0D%0A<%21--%20Generator%3A%20Adobe%20Illustrator%2016.0.4%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20-->%0D%0A<%21DOCTYPE%20svg%20PUBLIC%20"-//W3C//DTD%20SVG%201.1//EN"%20"http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">%0D%0A<svg%20version%3D"1.1"%20id%3D"Layer_1"%20xmlns%3D"http%3A//www.w3.org/2000/svg"%20xmlns%3Axlink%3D"http%3A//www.w3.org/1999/xlink"%20x%3D"0px"%20y%3D"0px"%0D%0A%09%20width%3D"106.7px"%20height%3D"106.7px"%20viewBox%3D"0%200%20106.7%20106.7"%20style%3D"enable-background%3Anew%200%200%20106.7%20106.7%3B"%20xml%3Aspace%3D"preserve"%0D%0A%09>%0D%0A<path%20style%3D"fill%3A%23FFFFFF%3Bstroke%3A%23ED7902%3Bstroke-width%3A5%3Bstroke-miterlimit%3A10%3B"%20d%3D"M53.4%2C104.2c-28%2C0-50.8-22.8-50.8-50.8%0D%0A%09S25.3%2C2.5%2C53.4%2C2.5c28%2C0%2C50.8%2C22.8%2C50.8%2C50.8S81.4%2C104.2%2C53.4%2C104.2z%20M53.4%2C7.3c-25.4%2C0-46%2C20.6-46%2C46s20.6%2C46%2C46%2C46s46-20.6%2C46-46%0D%0A%09S78.7%2C7.3%2C53.4%2C7.3z"/>%0D%0A<path%20id%3D"XMLID_1_"%20style%3D"fill%3A%23FFFFFF%3B"%20d%3D"M5%2C53.3C5%2C26.6%2C26.6%2C4.9%2C53.4%2C4.9s48.4%2C21.7%2C48.4%2C48.4s-21.7%2C48.4-48.4%2C48.4%0D%0A%09S5%2C80.1%2C5%2C53.3"/>%0D%0A<path%20style%3D"fill%3A%23FDBD10%3B"%20d%3D"M74.9%2C21.7c0.2-0.5-0.2-1-0.2-1s-3.3-5.6-14.8-6.8c-6.2-0.7-14.6%2C0.6-20.5%2C3.8C28.6%2C23.5%2C27%2C33%2C27%2C33%0D%0A%09c-0.1%2C0.2-0.2%2C0.9%2C0.1%2C1.2c0.2%2C0.3%2C0.6%2C0.3%2C1%2C0.2c3.8-1.3%2C15-5%2C22.2-6.9c10.1-2.7%2C18.4-4.3%2C23.8-5.2C74.5%2C22.2%2C74.8%2C22.1%2C74.9%2C21.7"%0D%0A%09/>%0D%0A<path%20style%3D"fill%3A%230066B2%3B"%20d%3D"M86.5%2C66.5c-6.1%2C13.6-17.7%2C23.1-32.9%2C23.3C42.5%2C90%2C32.7%2C86.2%2C25.6%2C79.5l-4.3%2C1.8l0-6.6%0D%0A%09C16.7%2C68.5%2C14%2C60.5%2C14%2C51.5c0-23.1%2C17.7-41.3%2C42.4-41.3c4%2C0%2C7.7%2C0.6%2C10.4%2C1.2c-4.2-1.4-8.4-2.1-13.1-2.1C27.2%2C9.3%2C9.4%2C30.8%2C9.4%2C53%0D%0A%09c0%2C24.1%2C18.9%2C44.4%2C43.8%2C44.4c23.8%2C0%2C36.6-16.7%2C40.7-26.8L86.5%2C66.5z"/>%0D%0A<path%20style%3D"fill%3A%23FDBD10%3B"%20d%3D"M36%2C78.1c-0.2%2C0.6%2C0.3%2C1.1%2C0.3%2C1.1c2.4%2C3%2C13%2C6.8%2C24.6%2C4C78.5%2C79%2C82.3%2C66.5%2C82.7%2C64.8%0D%0A%09c0.1-0.4%2C0.2-0.9-0.2-1.3c-0.3-0.3-0.7-0.3-1.2-0.2C69%2C66.2%2C48.6%2C72.4%2C36.8%2C77.5C36.3%2C77.7%2C36.1%2C77.8%2C36%2C78.1"/>%0D%0A<path%20style%3D"fill%3A%23FFFFFF%3B"%20d%3D"M41.7%2C17.6c-6.5%2C2.9-10.9%2C9.7-11.1%2C12.6c-0.1%2C1.1%2C1.4%2C1.3%2C1.6%2C0.1C33.5%2C25%2C37.7%2C20%2C41.7%2C17.6"/>%0D%0A<path%20style%3D"fill%3A%23FFFFFF%3B"%20d%3D"M63.2%2C22.5c3.5-0.9%2C5.4-1%2C5.5-2.6c0.1-2.6-7.4-5.7-14.3-5.1c7%2C0.5%2C11.2%2C3.2%2C11.2%2C5%0D%0A%09C65.6%2C21%2C64.6%2C22.1%2C63.2%2C22.5"/>%0D%0A<path%20style%3D"fill%3A%23FFFFFF%3B"%20d%3D"M65.4%2C80.4c5.3-2.1%2C10.3-6%2C13.1-11.9c0.8-1.7-1.5-2.6-2.2-0.6C74.7%2C72.1%2C71.3%2C77%2C65.4%2C80.4"/>%0D%0A<path%20style%3D"fill%3A%23EC1C24%3B"%20d%3D"M80.3%2C61.8c3.5-0.4%2C5.9-1.8%2C7.2-3.1c1.2-1.2%2C1.5-2.8%2C1.5-4c0-1.8%2C0-7.4%2C0-7.4l-9.2%2C2c0%2C0%2C0%2C0.7%2C0%2C2.2%0D%0A%09c0%2C1.4%2C0.7%2C2.2%2C2.2%2C1.9c0.5-0.1%2C1.2-0.3%2C1.2-0.3l0%2C1.8c0%2C0%2C0.1%2C1-2.2%2C1.4c-3%2C0.5-4.4-1.4-4.5-4.7c0.1-3.5%2C2.1-5.6%2C4.5-6.1%0D%0A%09c2.7-0.6%2C4.3%2C0%2C5.2%2C0.2c3.1%2C0.5%2C3.9-4.1%2C1.1-5.2c-2.1-0.8-4.7-1-7.3-0.5c-3.4%2C0.7-10.1%2C3.5-10.1%2C12.7C70.1%2C59.9%2C75.5%2C62.3%2C80.3%2C61.8%0D%0A%09"/>%0D%0A<path%20style%3D"fill%3A%23EC1C24%3B"%20d%3D"M50.4%2C69.6c0%2C0%2C2.8-1%2C3.1-1.1c2.3-0.8%2C3.1-2.1%2C3.1-4.5c0-2.5%2C0-7.5%2C0-7.5l6.6%2C7.6%0D%0A%09c1.1%2C1.1%2C2.4%2C1.2%2C3.6%2C0.8c1.3-0.4%2C2.3-1.5%2C2.4-3.2c0-5.5%2C0-18.8%2C0-18.8s-1.7%2C0.4-3.1%2C0.8c-1.6%2C0.5-2.9%2C1.5-2.9%2C4.2c0%2C1%2C0%2C6.5%2C0%2C6.5%0D%0A%09s-3.7-4.6-6.1-7.1c-1.3-1.3-3.4-0.5-3.4-0.5l-3.2%2C1L50.4%2C69.6z"/>%0D%0A<path%20style%3D"fill%3A%23EC1C24%3B"%20d%3D"M48.4%2C48.4c0%2C0-2%2C0.6-3.6%2C1.2c-2.1%2C0.8-3.3%2C2-3.3%2C5.1c0%2C2.9%2C0%2C18.1%2C0%2C18.1s1.8-0.6%2C3.5-1.3%0D%0A%09c2.4-0.9%2C3.3-2.2%2C3.3-4.7C48.4%2C64.5%2C48.4%2C48.4%2C48.4%2C48.4"/>%0D%0A<path%20style%3D"fill%3A%23EC1C24%3B"%20d%3D"M38.5%2C52.7c-1.8-0.8-3.4%2C0.1-4%2C1.1l-5.6%2C9.5l0-7.7l-6.6%2C2.7l0%2C21.7l4.6-1.9c0%2C0%2C0.9-0.3%2C1.5-1.1%0D%0A%09c0.5-0.8%2C0.5-2.1%2C0.5-2.1l0-6.9l5.2%2C5.5c1.1%2C1.2%2C3.2%2C1.8%2C5.1%2C0.3c1.7-1.3%2C1.4-3.6%2C0.5-4.7l-4.7-4.8c0%2C0%2C4.2-6.6%2C4.8-7.7%0D%0A%09C40.6%2C55.2%2C40.2%2C53.4%2C38.5%2C52.7"/>%0D%0A<path%20style%3D"fill%3A%23EC1C24%3B"%20d%3D"M25.5%2C49.7c0-1.2-0.9-1.8-2.5-1l0%2C3.8c0%2C0%2C0.5-0.2%2C0.9-0.4C24.8%2C51.7%2C25.5%2C50.9%2C25.5%2C49.7%20M22.9%2C46.3%0D%0A%09c0.3-0.1%2C0.5-0.2%2C0.7-0.3c0.9-0.4%2C1.5-1.2%2C1.5-2.2c0-1.2-0.9-1.5-2.2-0.8L22.9%2C46.3z%20M29.7%2C49.2c0.1%2C3-2.1%2C4.6-5%2C5.8l-5.8%2C2.5%0D%0A%09l0-15.8c0%2C0%2C3.7-1.5%2C4.9-1.9c3.4-1.2%2C5.4%2C0.3%2C5.4%2C2.5c0%2C1.5-0.6%2C2.8-2.1%2C3.9C28.5%2C46.5%2C29.7%2C47.6%2C29.7%2C49.2"/>%0D%0A<path%20style%3D"fill%3A%23EC1C24%3B"%20d%3D"M40.8%2C35.9c0-1.3-0.9-1.7-2-1.4c-0.9%2C0.3-1.9%2C0.7-1.9%2C0.7l0%2C9.8c0%2C1-0.2%2C2.2-1.4%2C2.5%0D%0A%09c-0.9%2C0.2-1.4-0.4-1.4-1.4l0-8c0-1.3-0.9-1.7-2-1.4c-1.2%2C0.4-2%2C0.7-2%2C0.7s0%2C7%2C0%2C9.7c0%2C3.3%2C2.2%2C4.9%2C5.7%2C3.9c3-0.9%2C5-2.6%2C5.1-6.9%0D%0A%09L40.8%2C35.9z"/>%0D%0A<path%20style%3D"fill%3A%23EC1C24%3B"%20d%3D"M73.1%2C39.9c0.9-0.2%2C1.4-0.8%2C1.4-1.9c0-1%2C0-1.7%2C0-1.7l-4.7%2C1l0-2.8c0%2C0%2C2.3-0.5%2C3-0.6%0D%0A%09c0.8-0.2%2C1.2-0.6%2C1.2-1.5c0-0.9%2C0-1.6%2C0-1.6l-4.2%2C0.9l0-2.2c0%2C0%2C2.2-0.5%2C3.4-0.7c0.9-0.2%2C1.2-0.8%2C1.2-1.7c0-0.6%2C0-1.7%2C0-1.7%0D%0A%09c-2.1%2C0.4-6.1%2C1.2-8.5%2C1.7l0%2C14.4C65.8%2C41.6%2C70.6%2C40.5%2C73.1%2C39.9"/>%0D%0A<path%20style%3D"fill%3A%23EC1C24%3B"%20d%3D"M45.8%2C39.3c0%2C0%2C2.3-1.2%2C2.3-3.1c0-1.6-1.5-1.3-2.3-1L45.8%2C39.3z%20M45.8%2C41.5c0%2C0%2C0%2C2.8%2C0%2C3.9%0D%0A%09c0%2C1-0.7%2C1.8-1.6%2C2.1c-0.8%2C0.3-2.4%2C0.8-2.4%2C0.8l0-14.8c0%2C0%2C3.3-1.2%2C5.3-1.6c3-0.7%2C5.2%2C0.7%2C5.1%2C3.1c0%2C2.3-1.3%2C3.7-2.5%2C4.7l2.6%2C2.5%0D%0A%09c0.8%2C0.8%2C0.8%2C2.1%2C0%2C3c-0.5%2C0.5-1.9%2C1-3-0.1L45.8%2C41.5z"/>%0D%0A<path%20style%3D"fill%3A%23EC1C24%3B"%20d%3D"M79.3%2C31.4c0%2C0%2C2.3-0.9%2C2.3-2.7c0-1.6-1.6-1.3-2.3-1.1L79.3%2C31.4z%20M75.4%2C39.5l0-14.2%0D%0A%09c0%2C0%2C4.1-0.7%2C5.2-0.9c3-0.4%2C5%2C1.3%2C4.9%2C3.6c0%2C2.1-1.3%2C3.3-2.4%2C4c0%2C0%2C2%2C2.3%2C2.6%2C2.9c0.7%2C0.8%2C0.7%2C2.2-0.4%2C2.9c-1.1%2C0.7-2.1%2C0.3-2.7-0.4%0D%0A%09l-3.3-3.9c0%2C0%2C0%2C2.4%2C0%2C3.5c0%2C1-0.6%2C1.8-1.7%2C2L75.4%2C39.5z"/>%0D%0A<path%20style%3D"fill%3A%23EC1C24%3B"%20d%3D"M64.9%2C33.5L59%2C34.9c0%2C0%2C0%2C0.6%2C0%2C1.6c0%2C0.8%2C0.5%2C1.3%2C1.3%2C1.1c0.5-0.1%2C0.9-0.2%2C0.9-0.2l0%2C1.6%0D%0A%09c0%2C0.6-1%2C1.1-2%2C1c-1.4%2C0-2.2-1.1-2.2-3.2c0-2.7%2C1.3-4.4%2C3.1-4.8c0.9-0.2%2C1.7-0.1%2C2.3%2C0c1.5%2C0.2%2C2.4-0.5%2C2.4-1.7%0D%0A%09c0-1.3-1.2-2.2-3.7-2.1c-5.5%2C0.2-8.4%2C4.2-8.4%2C8.9c0%2C4.9%2C3.2%2C7%2C7.1%2C6.3c2.2-0.4%2C3.3-1.2%2C4-1.8c0.8-0.7%2C1.1-1.7%2C1.1-2.5L64.9%2C33.5z"/>%0D%0A<path%20style%3D"fill%3A%23EC1C24%3B"%20d%3D"M91.9%2C62.6h0.7c0.4%2C0%2C0.9%2C0.1%2C0.9%2C0.5c0%2C0.5-0.4%2C0.6-0.8%2C0.6h-0.8V62.6z%20M91%2C66.2h0.8v-1.8h0.5l1%2C1.8%0D%0A%09h0.9l-1.1-1.9c0.6-0.1%2C1.1-0.4%2C1.1-1.1c0-0.9-0.6-1.3-1.7-1.3H91V66.2z%20M88.6%2C64.1c0%2C2.3%2C1.9%2C3.8%2C3.9%2C3.8c2.1%2C0%2C3.9-1.5%2C3.9-3.8%0D%0A%09c0-2.3-1.9-3.8-3.9-3.8C90.5%2C60.3%2C88.6%2C61.8%2C88.6%2C64.1%20M89.6%2C64.1c0-1.7%2C1.3-3%2C2.9-3c1.6%2C0%2C2.9%2C1.3%2C2.9%2C3c0%2C1.8-1.3%2C3-2.9%2C3%0D%0A%09C90.9%2C67.1%2C89.6%2C65.9%2C89.6%2C64.1"/>%0D%0A</svg>%0D%0A');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	display: inline-block;
}
.menu .option{
	width: 940px;
	min-width: 865px;
	height: 90px;
	margin:0 auto;
}
.menu .option ul{
	margin-top: 10px;
	margin-left: 20px;
}
.menu .option li{
	float: left;
	list-style-type: none;
	padding-right: 20px;
	min-height: 90px;
	display: inline-block;
}
.menu .option .sitems{
	font-size: 20px;
	color: #59291c;
	font-family: 'Impact';
    font-weight: normal;
}
.menu .option .bitems{
	font-size: 38px;
	color: #fff;
	font-family: 'Impact';
    font-weight: bolder;
    display: block;
}
.menu .option .l3{
	padding-right: 20px;
	display: block;
}
.menu .option .bitems:hover,.buttonwords:hover{
	color: #59291c;
}
.menu .option .locator{
	width: 24px;
    height: 33px;
    background-size: 100%;
	background-image:url('data:image/svg+xml;charset=US-ASCII,<%3Fxml%20version%3D"1.0"%20encoding%3D"utf-8"%3F>%0D%0A<%21--%20Generator%3A%20Adobe%20Illustrator%2016.0.4%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20-->%0D%0A<%21DOCTYPE%20svg%20PUBLIC%20"-//W3C//DTD%20SVG%201.1//EN"%20"http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">%0D%0A<svg%20version%3D"1.1"%20id%3D"Layer_1"%20xmlns%3D"http%3A//www.w3.org/2000/svg"%20xmlns%3Axlink%3D"http%3A//www.w3.org/1999/xlink"%20x%3D"0px"%20y%3D"0px"%0D%0A%09%20width%3D"24px"%20height%3D"33px"%20viewBox%3D"0%200%2024%2033"%20style%3D"enable-background%3Anew%200%200%2024%2033%3B"%20xml%3Aspace%3D"preserve">%0D%0A<path%20style%3D"fill%3A%23762823%3B"%20d%3D"M24%2C12.4c0%2C2.7-0.6%2C4.8-1.7%2C6.4L12%2C33L1.7%2C18.8C0.6%2C17.3%2C0%2C15.1%2C0%2C12.4C0%2C9%2C1.2%2C6.1%2C3.5%2C3.6%0D%0A%09C5.9%2C1.2%2C8.7%2C0%2C12%2C0s6.1%2C1.2%2C8.5%2C3.6C22.8%2C6.1%2C24%2C9%2C24%2C12.4z%20M7%2C12.4c0%2C1.5%2C0.5%2C2.7%2C1.5%2C3.7c1%2C1%2C2.2%2C1.5%2C3.6%2C1.5s2.6-0.5%2C3.6-1.5%0D%0A%09c1-1%2C1.5-2.3%2C1.5-3.7c0-1.4-0.5-2.7-1.5-3.7c-1-1-2.2-1.5-3.6-1.5S9.4%2C7.7%2C8.4%2C8.7C7.5%2C9.8%2C7%2C11%2C7%2C12.4z"/>%0D%0A</svg>%0D%0A'); 
	display: inline-block;
}
.menu .option .sns{
	width: 140px;
	height: 67px;
	margin-top: 20px;
	display: flex;
	flex-direction: row;
}
.menu .option .facebook{
	width: 40px;
	height: 40px;
	border-radius: 10px;
	background-image: url(../img/facebook.png);
	background-size: 100% 100%;
	background-color: #fff;
	margin-right: 10px;
}
.menu .option .twitter{
	width: 40px;
	height: 40px;
	border-radius: 10px;
	background-image: url(../img/twitter.png);
	background-size: 100% 100%;
	background-color: #fff;
	margin-right: 10px;
}
.menu .option .instagram{
	width: 40px;
	height: 40px;
	border-radius: 10px;
	background-image: url(../img/instagram.png);
	background-size: 100% 100%;
	background-color: f7800a;
}
.menu .option .facebook:hover,.menu .option .twitter:hover,.menu .option .instagram:hover{
	background-color: #59291c;
}
.videocontainer{
	width:100%;
	height: 100%;
	margin-top: 88px;
}
#myvideo{
	 width:100%;
	 height: 100%;
}
.videobutton{
	width: 274px;
	height: 53px;
	border: 5px solid transparent;
	border-image: url(../img/videobutton.svg) 5 fill round;
	text-align: center;
	margin-top: -80px;
	margin-left: 40%;
	position: absolute;
	z-index: 9;
}
.buttonwords{
	color: #fff;
	font-size:22px;
	font-family: 'Impact';
	text-decoration: none;
	line-height: 53px;
}
.map{
	width:100%;
	height:380px;
	margin-top: -4px;
	background-image: url(../img/Mapbg.jpeg);
	background-position: center;
	border:1px solid transparent;
}
.map .swatch{
	width: 727px;
	height: 229px;
	margin:0 auto;
	margin-top: 80px;
	text-align: center;
	background-image: url(../img/mapswatch.png);
}
.map .swatch .maptitle{
	font-size: 60px;
    margin: 25px 0 7px;
    font-family:'Segoe Script';
    font-weight: 2;
}
.mapbutton{
	width: 274px;
	height: 53px;
	border: 5px solid transparent;
	border-image: url(../img/videobutton.svg) 5 fill round;
	text-align: center;
	margin:0 auto;
	margin-top: 20px;
}
.story{
	width: 100%;
	height: 330px;
	margin-top: -4px;
	background-image: url(../img/Storybg.jpg);
	background-position: center;
	border:1px solid transparent;
}
.storycontents,.ordercontents,.delivercontents{
	width: 1000px;
	height: 250px;
	margin:0 auto;
	margin-top: 40px;
	text-align: center;
}
.storytitle,.ordertitle{
	font-family: 'Impact';
	font-size: 80px;
	color: #fff;
}
.storysubtitle,.ordersubtitle{
	font-size: 40px;
	font-family:'Pristina';
	color: #fff;
}
.button{
	width: 153px;
	height: 53px;
	border: 5px solid transparent;
	border-image: url(../img/videobutton.svg) 5 fill round;
	text-align: center;
	margin:0 auto;
	margin-top: 5px;
}

.order{
	width: 100%;
	height: 330px;
	background-image: url(../img/Orderbg.png);
	background-position: center;
	margin-top: -4px;
	border:1px solid transparent;
}
.deliver{
	width: 100%;
	height: 330px;
	background-image: url(../img/delivers.png);
	background-position: center;
	margin-top: -4px;
	border:1px solid transparent;
}
.deliver .delivertitle{
	font-size: 80px;
	font-family: 'Pristina';
	color: #fff;
}
.deliver .deliversubtitle{
	font-family: Arial;
	font-size: 20px;
	color: #fff;
}
.footer{
	color: #e6e6e6;
    background: url(../img/bg/header-footer.png) repeat-x 0 -284px;
   	background: #2d2d2d;
    padding: 5px 0 0;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.footercontents{
	width: 999px;
	height: 255px;
/*	border: 1px solid #fff;*/
	margin:0 auto;
	margin-top: 40px;
}
.footercontents ul{
	float: left;
	padding-right: 50px;
	padding-left: 50px;
}
.footercontents li{
	padding-top: 10px;
}
.footercontents a{
	color: #fff;
    font-size: 13px;
    text-decoration: none;
   
}
.footercontents .mainli{
	color: #fff;
	font-size: 22px;
	font-family: 'Impact';
}